body {
    --mdc-theme-primary: #424242;
    --mdc-theme-secondary: #ff8f00;
    display: flex;
    margin: 0;
    flex-direction: column;
    background-image: url('https://s2.ax1x.com/2019/10/29/Kfa9Nd.jpg');
    background-size: cover;
    height: 100vh;
}

body::before, body::after {
    content: ' ';
    flex: auto;
}

.container {
    margin: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.mdc-card__media {
 
  background-image: url('https://s2.ax1x.com/2019/10/29/Kfal3q.jpg');
}
.option {
    margin: 16px;
    text-align: center;
}

#bottom {
    position: fixed;
    bottom: 0;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    line-height: 16px;
    color: #002d4d;
    width: 50%;
    left: 25%;
    text-align: center;
}
.keeer-logo {
  height: 16px;
  position: relative;
  bottom: -4px;
}
.card {
    width: 60%;
    min-width: 300px;
    max-width: 640px;
}