<!DOCTYPE HTML>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>万圣节鬼屋门票平台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/card@2.3.0/dist/mdc.card.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/button@2.3.0/dist/mdc.button.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/typography@2.3.0/dist/mdc.typography.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/top-app-bar@2.3.0/dist/mdc.top-app-bar.min.css" />
  <link rel="stylesheet" href="https://fonts.loli.net/icon?family=Material+Icons" />
  <link rel="stylesheet" href={{url_for('static', filename='css/buy.css')}}>
</head>
<body>
  <div class="container">
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" onclick="javascript: window.location='/';">
        home
        </button>
        <span class="mdc-top-app-bar__title">欢迎您 {{NICKNAME}}</span>
      </section>
    </div>
  </header>
  <p class="message">如果您知道如何解决这个问题，欢迎加入KEEER</p>
    
  <div class="mdc-card message-card-base">
    <p class="message">您还有 {{AVALIABLE_AMOUNT / 100}} Kredit</p>
    {% if AVALIABLE_AMOUNT < PRICE %}
      <div class="message-card">
        <p class="message"> 您的Kredit余额不足购买一张门票</p>
        <button class="mdc-button mdc-button--raised" onclick="avascript:window.location='/recharge';">充值</button>
      </div>
    {% endif %}
  </div>
  {% for ticket in TICKETS%}
    <div class="mdc-card card">
      <div>
        <h5 class="mdc-typography--headline5">进场时间：{{ticket['body']['start_time']}}</h5>
        <p class="mdc-typography--body2">剩余 {{ticket['body']['free_position']}} 张票</p>
        <p class="mdc-typography--body2">单张价格：{{PRICE / 100}} Kredit</p>
      </div>
      <div>
        {% if ticket['body']['free_position'] > 0 %}
          <button class="mdc-button mdc-button--raised" onclick="javascript:window.location='/confirm?id={{ticket['id']}}';">
            <span>购买</span>
          </button>
        {% else %}
          <button class="mdc-button mdc-button--raised" disabled>
            <span >已售空</span>
          </button>
        {% endif %}
      </div>
    </div>
  </button>
    <div>
    </div>
    {% endfor %}

  </div>
  <div style="display:none;">
    <script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1278156489&web_id=1278156489"></script>
  </div>
</body>
</html>