<!DOCTYPE HTML>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>万圣节鬼屋门票平台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/card@2.3.0/dist/mdc.card.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/button@2.3.0/dist/mdc.button.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/typography@2.3.0/dist/mdc.typography.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/top-app-bar@2.3.0/dist/mdc.top-app-bar.min.css" />
  <link rel="stylesheet" href="https://fonts.loli.net/icon?family=Material+Icons" />
  <link rel="stylesheet" href={{url_for('static', filename='css/confirm.css')}}>
</head>
<body>
  <div class="container">
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" onclick="javascript: window.location='/';">
          home
          </button>
          <span class="mdc-top-app-bar__title">确认购票信息</span>
        </section>
      </div>
    </header>
    <p class="message">如果您知道如何解决这个问题，欢迎加入KEEER</p>

    <div class="mdc-card card">
      <p class="mdc-typography--body1 reset-margin">进场时间：<span class="mdc-typography--headline6">{{TICKET['body']['start_time']}}</span></p>
      <p class="mdc-typography--body1 reset-margin">您需支付：<b>{{PRICE / 100}}</b> Kredit</p>
      <p class="mdc-typography--body1 reset-margin">
        <b>请您在进场时间前5分钟在入口稍作等候，超过进场时间此票自动失效</b>
      </p>
      <p class="mdc-typography--body1 reset-margin">
        <b>温馨提示：在入口过早排队是没有意义的哦~</b>
      </p>
      <p class="mdc-typography--body1 reset-margin"> 请您<b>务必</b>仔细阅读并同意<a href='/terms'>注意事项</a></p>
      <p>点击下方的按钮即表示您已经阅读并同意注意事项</p>
      <form action="/confirm" method="POST" class="center">
        <input id="id" name="id" class="hidden"></input>
        <button class="mdc-button mdc-button--raised">确认并购买</button>
      </form>
    </div>
  </div>

  <div style="display:none;">
    <script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1278156489&web_id=1278156489"></script>
  </div>
</body>
<script>
  document.querySelector('#id').value = {{TICKET['id']}};
</script>
</html>