<!DOCTYPE HTML>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>万圣节鬼屋门票平台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/card@2.3.0/dist/mdc.card.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/button@2.3.0/dist/mdc.button.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/typography@2.3.0/dist/mdc.typography.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/top-app-bar@2.3.0/dist/mdc.top-app-bar.min.css" />
  <link rel="stylesheet" href="https://fonts.loli.net/icon?family=Material+Icons" />
  <link rel="stylesheet" href={{url_for('static', filename='css/confirm.css')}}>
</head>
<body>
  <div class="container">
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" onclick="javascript: window.history.go(-1);">
          keyboard_arrow_left
          </button>
          <span class="mdc-top-app-bar__title">注意事项</span>
        </section>
      </div>
    </header>
    <p class="message">如果您知道如何解决这个问题，欢迎加入KEEER</p>

    <div class="mdc-card card">
      <span class="center"><b>注意事项</b></div>
    </div>
    <div class="mdc-card card">
      <h5 class="mdc-typography--headline5">鬼屋体验注意事项</h5>
      <p>为保证呈现出最好的鬼屋效果，请：</p>
      <p>－尽情尖叫</p>
      <p>－听从引导员的引导</p>
      <p>请不要：</p>
      <p>－恶意调侃、侮辱、或殴打工作人员</p>
      <p>－在演员演出时强行搭话互动</p>
      <p>－向未参与鬼屋的等待者透露细节</p>
      <p>－移动、破坏道具</p>
      <p>－自行随意走动</p>
      <p><b>违反上列行为会被工作人员请出鬼屋。</b></p>
    </div>

    <div class="mdc-card card">
      <h5 class="mdc-typography--headline5">门票注意事项</h5>
      <p>门票一旦成功售出，不接受以任何形式的退换等操作</p>
      <p>在入场时间未抵达的，门票自动过期，不予更换，请留意您的时间</p>
      <p>请于入场时间前5分钟抵达入口稍作等候，请勿过早排队堵塞楼梯间</p>
    </div>
    <div class="mdc-card card">
      <h5 class="mdc-typography--headline5">请注意</h5>
      <p>您有权拒绝本协议。</p>
      <p>如您拒绝，请您停止当前的购票操作</p>
      <p>继续购票将被视为您已阅读并同意此份协议的全部内容</p>
    </div>
  </div>
  <div style="display:none;">
    <script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1278156489&web_id=1278156489"></script>
  </div>
</body>
</html>