<!DOCTYPE HTML>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>万圣节鬼屋门票平台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/card@2.3.0/dist/mdc.card.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/button@2.3.0/dist/mdc.button.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/typography@2.3.0/dist/mdc.typography.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/top-app-bar@2.3.0/dist/mdc.top-app-bar.min.css" />
  <link rel="stylesheet" href="https://fonts.loli.net/icon?family=Material+Icons" />
  <link rel="stylesheet" href={{url_for('static', filename='css/buy.css')}}>
</head>
<body>
  <div class="container">
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" onclick="javascript: window.location='/';">
        home
        </button>
        <span class="mdc-top-app-bar__title">欢迎您 {{NICKNAME}}</span>
      </section>
    </div>
  </header>
  <p class="message">如果您知道如何解决这个问题，欢迎加入KEEER</p>
    
  <div class="mdc-card message-card-base">
    <p class="message">您还有 {{AVALIABLE_AMOUNT / 100}} Kredit</p>
  </div>
  {% for ticket in TICKETS%}
    <div class="mdc-card card">
      <span class="mdc-typography--body1">进场时间：{{ticket['info']}}</span>
      <span class="mdc-typography--body2">过期时间：2019年11月1日下午10时00分</span>
      <span class="mdc-typography--body2">唯一门票码：{{ticket['id']}}</span>
      <span class="mdc-typography--body2">门票状态：{{STATUS_TO_STRING[STATUS[ticket['id']]]}}</span>
      <span class="mdc-typography--body2 center">入场时请向工作人员出示以下二维码</span>
      <div id="qrcode"></div>
      <script src="https://cdn.jsdelivr.net/npm/qrcode-js@0.0.2/lib/qrcode.js"></script>
      <script>
        var qrcode = new QRCode(document.getElementById("qrcode"), {
          text: 'https://halloween.keeer.net/admin-scan?ticket={{ticket['id']}}',
          width: 250,
          height: 250,
          colorDark : "#424242",
          colorLight : "#ffffff",
          correctLevel : QRCode.CorrectLevel.H
        });
      </script>
    </div>
    
  {% endfor %}
</body>
</html>